* {
  bg: #11121D;
  bg-alt: #444b6a;
  bg-search: #343c82;
  bg-input: #1f213b;

  bg-selected: #2f3968;

  fg: #FFFFFF;
  fg-alt: #787c99;

  background-color: @bg;
  
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}
